/* END GENERAL */

/* START HEADER */

/* END HEADER */

/* START ABOUT  */
.about-section {
  /* height: 400px;
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  background-image: url(assets/abstract-art.jpg); */
  height: 40vh;
  min-height: 40vh;
  display: flex;
  margin: 0 auto;
  background-image: url(assets/abstract-art.jpg);
  align-items: center;
}

.inner-about-section {
  margin-left: 10%;
}

.inner-about-section h1 {
  font-size: 40px;
  text-shadow: 2px 2px black;
}

@media screen and (max-width: 800px) {
  .inner-about-section h1 {
    font-size: calc(5vw);
  }
}
@media screen and (max-width: 500px) {
  .inner-about-section h1 {
    font-size: 25px;
  }
}

/* END ABOUT  */

/* START MORE */
.more-section {
  height: 225px;
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  background-color: var(--accentColor);
  box-shadow: inset 0 0 10px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-more-section {
  text-align: center;
  margin: auto;
  width: 80%;
}

.inner-more-section h1 {
  font-size: 32px;
  text-shadow: 2px 2px black;
}
@media screen and (max-width: 800px) {
  .inner-more-section h1 {
    font-size: calc(4vw);
  }
}

/* END MORE */

/* START EXAMPLES*/
.example-section {
  display: block;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  background-image: url(assets/abstract-art.jpg);
}

.inner-example-section {
  margin: auto;
  width: 85%;
  height: 100%;
  display: block;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* END EXAMPLES*/

/* START CARD */
.card {
  width: 400px;
  margin: 5px;
  background-color: white;
  display: inline-block;
  border-radius: 2px;
  padding: 3px 3px 0px;
  transition: 0.25s;
}

.card:hover {
  background-color: var(--accentColor);
}

@media screen and (max-width: 1495px) {
  .card {
    width: 350px;
  }
}
@media screen and (max-width: 1320px) {
  .card {
    width: 500px;
  }
}
@media screen and (max-width: 1235px) {
  .card {
    width: 400px;
  }
}

@media screen and (max-width: 499px) {
  .card {
    width: 80vw;
  }
}

.card img {
  width: 100%;
  cursor: pointer;
}

.text-section h1 {
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 80%;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px black;
}

@media screen and (max-width: 899px) {
  .text-section h1 {
    font-size: 25px;
  }
}
/* @media screen and (max-width: 466px) {
  .text-section h1 {
    font-size: 20px;
  }
} */

/* END CARD */

/* The contact form */

/* .inner-footer form textarea {
  margin-bottom: 20px;
} */
/* 
.inner-footer form button {
  border-radius: 2px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
} */

/* START TABLE */
#tools {
  border-collapse: collapse; /*removes overlapping borders*/
  width: 100%;
  margin-bottom: 25px;
  font-size: 20px;
}

#tools td,
#tools th {
  border: 1px solid #ddd;
  padding: 5px;
}

#tools tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tools tr:last-child {
  color: var(--amberColor);
  text-shadow: 1px 1px black;
}

#tools tr {
  background-color: #ddd;
}

@media screen and (max-width: 400px) {
  #tools tr,
  th {
    font-size: 5vw;
  }
}

#tools th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--secondaryColor);
  color: white;
}

#tools table {
  padding: 200px;
}
/* END TABLE */
