* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  width: 40vw;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  vertical-align: top;
  border: 2px solid black;
}

#output {
  display: inline-flex;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 10px;
  justify-content: flex-end;
  height: 50px;
  width: calc(40vw - 4px);
  font-size: calc(2.05vw);
  background-color: green;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
  #output {
    font-size: 18px;
  }
}
button {
  height: 7vw;
  width: 7vw;
  font-size: 20px;

  background-color: #242424;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

button.hl {
  background-color: #060606;
}

button:hover:not(#block) {
  background-color: grey;
  transition: 0.25s;
}

#block {
  cursor: default;
}
