* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  width: 277px;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  vertical-align: top;
  border: 2px solid black;
}

.input {
  width: 100px;
}

#output {
  display: inline-flex;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 10px;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
  background-color: grey;
  border-bottom: 1px solid black;
}

button {
  height: 50px;
  width: 50px;
  margin: 1px;
  font-size: 20px;

  background-color: #242424;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

button.hl {
  background-color: #060606;
}

button:hover:not(#block) {
  background-color: grey;
  transition: 0.25s;
}
