* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background-color: lightgrey; */
}

.main-container {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px;
  width: 30%;
  justify-content: flex-start;
  flex-direction: column;
}
input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid black;
}

input[type="submit"] {
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  border: 1px solid black;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

.size {
  text-align: center;
}

.size > input[type="text"] {
  width: calc(8vw + 10px);
}

@media screen and (max-width: 900px) {
  .size {
    text-align: start;
  }
  .size > input[type="text"] {
    width: 100%;
  }
}

#output {
  display: inline-flex;
  padding-top: 15px;
  padding-right: 10px;
  justify-content: flex-end;
  height: auto;
  width: calc(30vw);
  font-size: calc(5vw);
  text-align: center;
}
button {
  height: 10vw;
  width: 10vw;
  font-size: 20px;
  padding: 0px;
  overflow: hidden;

  color: black;
  font-weight: 50;
  cursor: pointer;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 1px solid #7f7f7f;
}
td {
  border: 1px solid #7f7f7f;
  width: 50px;
  height: 50px;
  text-align: center;
}
